In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [5]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [9]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [13]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [14]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [19]:
dframe

       col1      col2      col3      col4      col5
A -1.044114  0.825769  0.281231  1.011596 -0.576615
B  0.399725  0.394202 -1.101072  0.781411 -0.979657
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147
F  0.041346  0.532726 -0.855649  0.654818  0.745461

In [22]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)

In [23]:
dframe2

       col1      col2      col3      col4      col5
A -1.044114  0.825769  0.281231  1.011596 -0.576615
B  0.399725  0.394202 -1.101072  0.781411 -0.979657
C       NaN       NaN       NaN       NaN       NaN
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147
F  0.041346  0.532726 -0.855649  0.654818  0.745461

In [26]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.044114  0.825769  0.281231  1.011596 -0.576615   NaN
B  0.399725  0.394202 -1.101072  0.781411 -0.979657   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965   NaN
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147   NaN
F  0.041346  0.532726 -0.855649  0.654818  0.745461   NaN

In [27]:
dframe2

       col1      col2      col3      col4      col5
A -1.044114  0.825769  0.281231  1.011596 -0.576615
B  0.399725  0.394202 -1.101072  0.781411 -0.979657
C       NaN       NaN       NaN       NaN       NaN
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147
F  0.041346  0.532726 -0.855649  0.654818  0.745461

In [28]:
dframe

       col1      col2      col3      col4      col5
A -1.044114  0.825769  0.281231  1.011596 -0.576615
B  0.399725  0.394202 -1.101072  0.781411 -0.979657
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147
F  0.041346  0.532726 -0.855649  0.654818  0.745461

In [32]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A -1.044114  0.825769  0.281231  1.011596 -0.576615   NaN
B  0.399725  0.394202 -1.101072  0.781411 -0.979657   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965   NaN
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147   NaN
F  0.041346  0.532726 -0.855649  0.654818  0.745461   NaN

In [33]:
dframe

       col1      col2      col3      col4      col5
A -1.044114  0.825769  0.281231  1.011596 -0.576615
B  0.399725  0.394202 -1.101072  0.781411 -0.979657
D  0.308667 -1.690006 -0.413899 -0.408331 -0.573965
E  0.023025 -1.322088 -0.460486 -1.673091  0.062147
F  0.041346  0.532726 -0.855649  0.654818  0.745461