In [1]:
import numpy as np
from pandas import Series, DataFrame

In [2]:
import pandas as pd

In [5]:
arr = np.array([[1,2,np.nan], [np.nan,3,4,]])

In [6]:
arr

array([[ 1.,  2., nan],
       [nan,  3.,  4.]])

In [7]:
dframe1 = DataFrame(arr, index=['A','B'], columns=['One','Two','Three'])

In [8]:
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [9]:
dframe1.sum()

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [10]:
dframe1.sum(axis=0)

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [11]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [12]:
dframe1.min()

One      1.0
Two      2.0
Three    4.0
dtype: float64

In [13]:
dframe1.idxmin()

One      A
Two      A
Three    B
dtype: object

In [14]:
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [15]:
dframe1.cumsum()

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [16]:
dframe1.describe()

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [17]:
import pandas.io.data as pdweb

ImportError: The pandas.io.data module is moved to a separate package (pandas-datareader). After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.

In [42]:
from pandas_datareader.data import wb as pdweb

ImportError: cannot import name 'wb'

In [36]:
import datetime

In [37]:
prices = pdweb.get_data_yahoo(['CVX','XOM','BP'], start=datetime.datetime(2010,1,1), end=datetime.datetime(2013,1,1))

AttributeError: module 'pandas_datareader.wb' has no attribute 'get_data_yahoo'

In [38]:
start = datetime.datetime(2010, 1, 1)

In [39]:
end = datetime.datetime(2013, 1, 27)

In [41]:
f = pdweb.DataReader('F', 'google', start, end)

AttributeError: module 'pandas_datareader.wb' has no attribute 'DataReader'